Source: vanilla-gnome-default-settings
Section: gnome
Priority: optional
Maintainer: Mirko Brombin <send@mirko.pm>
Standards-Version: 4.6.0
Homepage: https://github.com/Vanilla-OS/vanilla-gnome-default-settings
Vcs-Browser: https://github.com/Vanilla-OS/vanilla-gnome-default-settings
Vcs-Git: https://github.com/Vanilla-OS/vanilla-gnome-default-settings.git
Rules-Requires-Root: no

Package: vanilla-gnome-default-settings
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Vanilla OS GNOME default settings
 This package contains the default settings for Vanilla OS GNOME.
